form.ng-submitted input.ng-invalid {
	border-color: red;
}
form.ng-submitted textarea.ng-invalid {
  border-color: red;
}
form.ng-submitted select.ng-invalid {
	border-color: red;
}
body, html
{
  background-color: #EFEFEF;
}
.company-data {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px;
}

.companies {
  padding: 50px;
}

.company-collapse {
  margin-bottom: 30px;
}

.table-size{
  width: 93%
}
.table-size1{
  width: 122%
}

